extends layout

block content

  h1 Genre: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Vinyls

    dl
      each vinyl in genre_vinyls
        dt
          a(href=vinyl.url) #{vinyl.name}
        dd #{vinyl.description}

      else
        p This genre has no vinyls